<nav>
  <ul>
    <li><a routerLink="/home" routerLinkActive="active">Home</a></li>
    <li><a routerLink="/vehicles" routerLinkActive="active">Vehicles</a></li>
    <li>
      <a routerLink="/vehicle-information" routerLinkActive="active"
        >Vehicle Information</a
      >
    </li>
    <li><a routerLink="/drivers" routerLinkActive="active">Drivers</a></li>
    <li>
      <a routerLink="/rout-history" routerLinkActive="active">Rout History</a>
    </li>
    <li><a routerLink="/geofence" routerLinkActive="active">Geofence</a></li>
  </ul>
</nav>
