.rout-history-container {
  padding: 20px;
}

mat-form-field {
  width: 100%;
}

table {
  width: 100%;
  margin-top: 20px;
}

button {
  margin-top: 20px;
}

.add-vehicle {
  background-color: #009879;
  color: white;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  font-size: 18px;
  margin-bottom: 1%;
}

.add-vehicle :hover {
  background-color: #007a63;
}
