<h1>Welcome to Home!</h1>
<div *ngIf="errorMessage; else dataTable">
  <p>{{ errorMessage }}</p>
</div>

<ng-template #dataTable>
  <table class="vehicle-table" *ngIf="showTable">
    <thead>
      <tr>
        <th>Vehicle ID</th>
        <th>Vehicle Number</th>
        <th>Vehicle Type</th>
        <th>Last Direction</th>
        <th>Last Status</th>
        <th>Last Address</th>
        <th>Last Latitude</th>
        <th>Last Longitude</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let vehicle of VehiclesInformationsData">
        <td>{{ vehicle.VehicleID }}</td>
        <td>{{ vehicle.VehicleNumber }}</td>
        <td>{{ vehicle.VehicleType }}</td>
        <td>{{ vehicle.LastDirection }}</td>
        <td>{{ vehicle.LastStatus }}</td>
        <td>{{ vehicle.LastAddress }}</td>
        <td>{{ vehicle.Latitude }}</td>
        <td>{{ vehicle.Longitude }}</td>
        <td><button mat-button (click)="openDialog(vehicle.VehicleID)">Show More</button></td>
      </tr>
    </tbody>
  </table>
</ng-template>

<ng-template #dialogTemplate let-dialogData>
  <h2 mat-dialog-title>Vehicle Details</h2>
  <mat-dialog-content>
    <div *ngIf="dialogData">
      <p><strong>Vehicle Number:</strong> {{ dialogData.VehicleNumber }}</p>
      <p><strong>Vehicle Type:</strong> {{ dialogData.VehicleType }}</p>
      <p><strong>Driver Name:</strong> {{ dialogData.DriverName }}</p>
      <p><strong>Phone Number:</strong> {{ dialogData.PhoneNumber }}</p>
      <p><strong>Last Position:</strong> {{ dialogData.LastPosition }}</p>
      <p><strong>Vehicle Make:</strong> {{ dialogData.VehicleMake }}</p>
      <p><strong>Vehicle Model:</strong> {{ dialogData.VehicleModel }}</p>
      <p><strong>Last GPSTime:</strong> {{ dialogData.LastGPSTime }}</p>
      <p><strong>Last GPSSpeed:</strong> {{ dialogData.LastGPSSpeed }}</p>
      <p><strong>Last Address:</strong> {{ dialogData.LastAddress }}</p>
    </div>
    <div *ngIf="!dialogData">
      <p>No details available.</p>
    </div>
  </mat-dialog-content>
  <mat-dialog-actions>
    <button mat-button mat-dialog-close>Close</button>
  </mat-dialog-actions>
</ng-template>
